<header>
  <div class="nav">
    <div class="navList">
      <div class="navItem" [routerLink]="['/']" routerLink="router-link-active">Home</div>
      <div class="navItem" [routerLink]="['/plugin-content']" routerLink="router-link-active">Plugin</div>
    </div>
    <div class="navSearch">
      <input placeholder="Search by name of  Plugin " type="text" class="search" >
      <span class="search" id="searchIcon"></span>
    </div>
    <div class="navlogin">
      <div  [routerLink]="['/login']" routerLink="router-link-active">Login in</div>
      <div [routerLink]="['']" routerLink="router-link-active">Sign in</div>
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button id="shareBtnFaceBook"  aria-label="Example icon-button with share icon">
      <mat-icon>F Share  </mat-icon>
    </button>
    <button mat-icon-button id="shareBtnTwitter"  aria-label="Example icon-button with share icon">
      <mat-icon>T Share  </mat-icon>
    </button>
  </div>
</header>

<router-outlet></router-outlet>