header {
  min-width: 960px;
  height: 58px;
  background-color: #1369bf;
  color: white;
}
.nav {
  width: 960px;
  height: 58px;
  display:flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.navList{
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.navItem:focus{
  outline: none;
}
.navItem{
  width: 100px;
  height: 50px;
  text-align:center;
  line-height: 50px;
}
.navItem .router-link-active{
  border-bottom: 2px solid white;
}
.navSearch  { 
  width: 500px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  border: none;
  outline: none;
  background: white;
  display: flex;
}
.search{
  width: 500px;
  border: none;
  outline: none;
}
#searchIcon{
  width: 40px;
  height: 40px;
  background-image: url("../assets/img/search.png");
  background-size: 90% 90%;
  background-repeat: no-repeat;
}
.navLogin  {
  display: flex;
  /* font-size: 20px; */
  font-weight: bold;
}
