<header>
  <div class="nav">
    <div class="navList">
      <div class="navItem" [routerLink]="['/']" routerLink="router-link-active">Home</div>
      <!-- <div class="navItem"   [routerLink]="['/plugin-content']" routerLink="router-link-active"> -->
          <div class="navItem" >
            <a mat-button [matMenuTriggerFor]="menu">Plugin</a>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  class="recommand"  (click)="tabEvent(0)">Recommand</button>
          <button mat-menu-item  class="BurnsAudio"  (click)="tabEvent(1)">BurnsAudio</button>
          <button mat-menu-item  class="Wimmics"  (click)="tabEvent(2)">Wimmics</button>
        </mat-menu>
    </div>
    <div class="navSearch">
      <input placeholder="Search by name of  Plugin " type="text" class="search" >
      <span class="search" id="searchIcon"></span>
    </div>
    <div class="navlogin">
      <div [routerLink]="['/login']" routerLink="router-link-active">Login in</div>
      <div [routerLink]="['']" routerLink="router-link-active">Sign in</div>
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

  </div>
</header>
<div class="main"><router-outlet></router-outlet></div>
